{% extends "base1.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Egresos<i class="fas fa-users"></i></h3>
        <div class="col-md-3 pb-2">
            <a href="{% url 'pymes-egreso-create' %}">
                <button type="button" class="btn btn-success">
                    Agregar Egreso
                </button>
            </a>
        </div>
        {% if object_list %}
        <div class="card card-body" style="overflow:scroll">
            <table border="2" class="table table-hover table-primary" id="myTable">
                <thead>
                    <th>Nombre</th>
                    <th>Rubro</th>
                    <th>Forma de Pago</th>
                    <th>Tipo de Pago</th>
                    <th>Nombre de pago</th>
                    <th>Titular de Pago</th>
                    <th>Monto de Pago</th>
                    <th>Factura Nro</th>
                    <th>Accion</th>
                </thead>
                <tbody class="text-dark">
                    {% for egreso in object_list %}
                        <tr>
                            <td> {{ egreso.nombre }} </td>
                            <td> {{ egreso.rubro }} </td>
                            <td> {{ egreso.forma_de_pago }} </td>
                            <td> {{ egreso.tipo_de_pago }} </td>
                            <td> {{ egreso.nombre_de_pago }} </td>
                            <td> {{ egreso.titular_de_pago }} </td>
                            <td> {{ egreso.monto_de_pago }} </td>
                            <td> {{ egreso.numero_de_factura }} </td>
                            <td>
                                <a href="{% url 'pymes-egreso-update' egreso.id %}">
                                    <button type="button">
                                        EDITAR
                                    </button>
                                </a>
                                <a href="{% url 'pymes-egreso-logic-delete' egreso.id %}">
                                    <button type="button" >
                                        ELIMINAR
                                    </button> 
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if object_list.has_previous %}
                <a href="?=page=1">Primera</a>
                <a href="?page={{object_list.previous_page_number}}">Anterior</a>
            {% endif %}

            Pagina {{ object_list.number }} de {{ object_list.paginator.num_pages }}   

            {% if object_list.has_next %}
                <a href="?page={{object_list.next_page_number}}">Siguiente</a>
                <a href="?page={{object_list.paginator.num_pages}}">Ultima</a>
            {% endif %}

        </div>
    {% else %}
        <h1>No existen Egresos registrados.</h1>
    {% endif %}
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error...',
        text: "{{message}}",
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}